@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
:root{
	scroll-behavior: smooth;
  --main: #e60000;
  --text1: #333;
  --text2: #888;
  --text3: #aaa;
  /* --text1: rgba(0,0,0,.85);
  --text2: rgba(0,0,0,.45);
  --text3: rgba(0,0,0,.25); */
  --bg1: #fff;
  --bg2: #ddd;
  --bg3: #bbb;

  --angle: 9deg;

  --width: min(90vw, 90rem);
  --margin: calc(2rem + .6vmax);
  --curve: ease-in;
	--curve-out: ease-out;
  /* --curve: cubic-bezier(.08,.82,.2,1);
  --curve-out: cubic-bezier(.95,.05,.8,.04); */
	--radius: .4rem;
  --box-radius: .8rem;
	--duration: .2s;
	--duration-out: .2s;
  --curve: ease-in;
  --curve-out: ease-out;
	--transition: all var(--duration) var(--curve);
	--transition-out: all var(--duration-out) var(--curve-out);

  --bold: 700;
  --title-font: Smiley Wide, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, 'PingFang SC', sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --body-font: meta, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, 'PingFang SC', sans-serif, Apple Color Emoji, Segoe UI Emoji;

  font-family: var(--body-font);
  color: var(--text1);

  transition: var(--transition);

  background-color: var(--bg1);
  background-image:  radial-gradient(var(--text3) 0.5px, transparent 0.5px), radial-gradient(var(--text3) 0.5px, var(--bg1) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  background-attachment: fixed;
  text-wrap: pretty;
}
:root.dark{
  --main: #a51313;
  --text1: #ddd;
  --text2: #999;
  --text3: #444;
  --bg1: #000;
  --bg2: #333;
  --bg3: #777;
}
em{font-style: normal;}
.title-font{
  font-family: var(--title-font);
  /* text-shadow: 0 .02em 0 var(--text1); */
  font-weight: 400;
}
img{
  display: block;
	max-width: 100%;
}
::selection{
  background: var(--main);
  color: var(--bg1);
}
p ~ p{
  margin-top: 1em;
}
a{
  text-decoration: none;
  transition: var(--transition-out);
  color: inherit;
  border-bottom: 1px dotted var(--text2);
}
a:hover{
  color: var(--main);
  transition: var(--transition);
  border-bottom: 1px solid var(--main);  
}
.mobile-only{
	display: none !important;
}
.skew-p{
  transform: skewX(calc(var(--angle) * -1));
}
.skew-n{
  transform: skewX(var(--angle));
}


/*~Btns*/
.btn{
	background: #345;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: .4em .7em;
	font-weight: var(--bold);
	border: 2px solid #345;
	border-radius: var(--radius);
	transition: var(--transition-out);
	cursor: pointer;
	backface-visibility: hidden;
	user-select: none;
	-webkit-user-select: none;
	font-family: inherit;
	line-height: 1.2;
	outline: none;
	transform: scale(1.008);
	transform-origin: 50% 50%;
	touch-action: manipulation;
}
.primary-btn{
	background: var(--main);
	color: #000;
	border-color: var(--main);
}
.btn:hover{
	transition: var(--transition);
	text-decoration: none;
	transform: scale(1.05);
	background: var(--main);
	/* color: #fff; */
	border-color: var(--main);
	outline: none;
	filter: brightness(1.1);
}
.btn:active{
	filter: brightness(.7)contrast(1.3);
	outline: none;
	transition: var(--transition);
}
.btn.disabled{
  opacity: .25;
  filter: grayscale(.3);
  pointer-events: none;
}

body{
  height: 8000vh;
}

#app{
  display: grid;
	width: 100vw; height: 100vh;
	grid-template-areas: "map desc";
	/* grid-template-rows: auto 1fr; */
  grid-template-columns: 3fr 2fr;
  position: fixed;
  overflow: hidden;
  /* gap: 5vw; */
}

/*~Title*/
.title{
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: var(--bold);
}

/*~Track*/
.track-map{
  grid-area: map;
  --full: 1905.97px;
  display: flex;
  justify-content: center; align-items: center;
  translate: 20vw 0;
  scale: .9;
  transition: var(--transition-out);
}
.scrolled .track-map{
  transition: var(--transition);
  scale: 1;
  translate: none;
}
.track-map > .inner{
  position: relative;
  aspect-ratio: 660 / 530;
  max-width: 100%; max-height: 100%;
}
.main-svg{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.base{
  fill: none;
  stroke-width: 4px;
  stroke: var(--text1);
}
.base2{
  stroke-width: 6px;
  stroke: var(--bg1);
}
.progress{
  fill: none;
  stroke: var(--bg1);
  stroke-width: 1px;
  stroke-dasharray: var(--full);
  transition: all .2s ease-out;
  stroke-dashoffset: calc(var(--full) * (1 - var(--p)));
  stroke-linecap: round;
}

.path{
  fill: none;
  stroke: var(--main);
  stroke-dasharray: calc((var(--ed) - var(--st)) * var(--full)) calc(10000);
  stroke-dashoffset:  calc(  var(--st) * var(--full) * -1);
  stroke-width: 6.5px;
}
.corner .path{
  opacity: 0;
  transition: opacity .2s var(--curve-out);
  stroke-linecap: butt;
}
.corner.show .path{
  opacity: 1;
  transition: opacity .2s var(--curve);
}

.section .path{
  opacity: 0;
  transition: opacity .2s var(--curve-out);
  stroke-width: 10px;
  stroke: var(--text1);
  stroke-linecap: butt;
}
.section.show .path{
  opacity: 1;
  transition: opacity .2s var(--curve);
}
.debug{
  position: fixed;
  left: 10px; top: 10px;
}

.corner-name{
  font-size: calc(.3vmin + .4rem + .2vmax);
  color: var(--bg2);
  transition: all .2s var(--curve-out);
  position: absolute;
  left: calc(var(--x) * 100%);
  top: calc(var(--y) * 100%);
  /* background: var(--bg3); */
  /* translate: calc(var(--x) * 100%) 50%; */
  translate: var(--tX) var(--tY);
  line-height: 1;
  border-radius: .1em;
  padding: .1em .1em 0;
}
.scrolled .corner-name{
  /* color: var(--text1); */
}
.corner-name:hover{
  color: var(--main);
  cursor: pointer;
}
.corner-name.show{
  /* opacity: 1; */
  color: var(--text1);  
  transition: all .2s var(--curve);
}
.corner-name.highlighted{
  font-weight: var(--bold);
  color: var(--bg1);
  transition: all .2s var(--curve);
  background: var(--text1);
  box-shadow: 0 0 0 .3em var(--text1);
}
.corner-name.t{--tY: 0%;}
.corner-name.m{--tY: -50%;}
.corner-name.b{--tY: -100%;}

.corner-name.l{--tX: 0%;}
.corner-name.c{--tX: -50%;}
.corner-name.r{--tX: -100%;}

.section-name{
  color: var(--text3);
  font-weight: var(--bold);
  font-size: calc(.3vmin + .5rem + .2vmax);
  border-radius: .1em;
}

.mid{
  position: absolute;
  left: 43%; top: 50%;
  translate: -50% -50%;
}
.msg{
  color: var(--text1);
  font-size: 1rem;
  width: min(23em, 80vw);
  backdrop-filter: blur(10px);
  padding: 1em;
  border-radius: 1em;
}
.msg-title{
  font-size: 1.5em;
  text-align: center;
  /* font-weight: 700; */
}
.indicator{
  font-weight: 700;
  margin-top: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: center;
  /* gap: .2em; */
  text-align: center;
  border-top: 1px dotted var(--bg3);
}
.scroll-notify{
  align-items: center;
  font-size: calc(.75rem + .3vmax + .3vmin);
  width: 100%;
  /* font-weight: 700; */
}
.scroll-arrow{
  width: .8em;
  margin-top: .5em;
  animation: shaking 1.8s var(--curve) infinite both;
}
.scroll-arrow path{
  fill: none;
  stroke: var(--text1);
  stroke-width: 15px;
}
@keyframes shaking{
	0%{transform: none;}
	24%{transform: translateY(.2rem);}
	34%{transform: translateY(-.1rem);}
	44%{transform: translateY(.2rem);}
	54%{transform: translateY(-.1rem);}
	64%{transform: translateY(.2rem);}
	100%{transform: none;}
}
.miles{
  color: var(--text1);
  transition: all .2s var(--curve);
  font-feature-settings: 'tnum';
  letter-spacing: -.05em;
  font-size: 4rem;
}
.mid span{
  text-shadow: 
    .02em .02em 0 var(--bg1),
    .04em .04em 0 var(--bg2);
}
.mid em{
  font-weight: 400;
  font-size: .5em;
  letter-spacing: 0;
}
/* ~Desc */
.desc{
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: stretch;
  border-left: 1px solid var(--bg2);
  background: var(--bg1);
  box-shadow: 10vw 0 0 var(--bg1);
  opacity: 0;
  translate: 10vw 0;
  transition: var(--transition-out);
}
.scrolled .desc{
  transition: var(--transition);
  translate: none;
  opacity: 1;
}
.logo{
  width: 100%;
  border-bottom: 1px solid var(--bg2);
}
.logo > .inner{
  display: flex;
  justify-content: center; align-items: center;
  padding: var(--margin) calc(var(--margin) * 3) var(--margin) var(--margin);
  gap: 1em;
}
.logo > .inner > img{
  height: calc(1rem + 1vmax + 1.5vmin);
}
.logo > .inner > span{
  font-size: calc(1rem + .5vmax + .2vmin);
  font-family: var(--title-font);
  /* font-weight: var(--bold); */
  /* font-weight: 700; */
  color: var(--text1);
}

.corner-info{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: flex-start;
  padding: var(--margin) calc(var(--margin) * 2);
  position: relative;
}
.corner-info > .inner{
  transition: all .2s var(--curve);
  transition-behavior: allow-discrete;
  opacity: 1;
  translate: none;
  transform-origin: 0 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;

  @starting-style{
    opacity: 0;
    translate: 1em 0;
  }
}

.desc .primary{
  /* font-weight: var(--bold); */
  line-height: 1;
  font-size: calc(1rem + 1vmin + 1vmax);
  color: var(--text1);
  /* color: var(--main); */
  position: relative;
}
.desc .nickname{
  margin-top: .2em;
  font-size: calc(.8rem + .8vmin + .8vmax);
  color: var(--text1);
  display: inline-block;
  position: relative;
  align-self: flex-start;
}
.desc .qt::before,
.desc .qt::after{
  color: var(--text3);
  top: 10%;
  position: absolute;
  font-weight: 400;
}
.desc .qt::before{
  content: "“";
  right: 100%;
}
.desc .qt::after{
  content: "”";
  left: 100%;
}
.desc .secondary{
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text2);
  margin-top: .5em;
  padding-left: .2em;
  display: flex;
  justify-content: flex-start; align-items: center;
  flex-wrap: wrap;
}
.desc .secondary > span:first-of-type{
  margin-right: 1em;
}
.desc .secondary .extra{
  display: inline-flex;
  justify-content: flex-start; align-items: center;
}
.desc .secondary img{
  height: .7em;
  display: inline-block;
  filter: grayscale(1);
  opacity: .35;
  margin-right: .4em;
}
.desc .more{
  font-weight: 400;
  font-size: 1rem;
  color: var(--text2);
  margin-top: 2.6em;
  line-height: 1.65;
  padding-left: .3em;
}

.thumbs{
  /* position: absolute; */
  /* left: calc(var(--margin) * 2); bottom: var(--margin); */
  /* height: calc(3vmin + 6vmax); */
  flex: 0 1 calc(3vmin + 6vmax);
  width: 100%;
  display: flex;
}
.thumb{
  opacity: .2;
  filter: grayscale(1);
  max-height: 100%;
  cursor: pointer;
  transition: var(--transition-out);
  z-index: 0;
}
.corner-info:hover .thumb{
  transition: var(--transition);
  opacity:1;
  filter: grayscale(0);
}
.thumb:hover{
  transition: var(--transition);
  scale: 1.1;
  z-index: 9;
}

/* ~Controls */
.controls{
  font-size: 1rem;
  border-top: 1px solid var(--bg2);
  width: 100%;
  padding: var(--margin) calc(var(--margin) * 2);
  user-select: none;
  color: var(--text2);
}
.controls > .inner{
  display: flex;
  justify-content: center; align-items: center;
  gap: 2.5em;
  gap: 1em 2.5em;
  flex-wrap: wrap;
}
.toggle-group{
  display: inline-flex;
  gap: .75em;
  justify-content: center; align-items: center;
  cursor: pointer;

  transition: var(--transition-out);
}
.toggle-group:hover{
  color: var(--text1);
  transition: var(--transition);
}
.toggle{
  border: 1px solid var(--text2);
  width: 3em;
  height: 1.5em;
  border-radius: .3em .15em .3em .15em;
  transform: skewX(calc(var(--angle) * -1));
  position: relative;
  transition: var(--transition-out);
}
.toggle-group:hover .toggle{
  border-color: var(--text1);
  transition: var(--transition);
}
.toggle::after{
  content: "";
  display: block;
  width: 1.5em;
  height: 1em;
  background: var(--text1);
  border-radius:.2em;
  position: absolute;
  top: .2em;
  border-radius: .1em;
  transition: all .2s var(--curve);
}
.on .toggle::after{
  left: 1.4em;
  width: 1.3em;
  background: var(--main);
}
.off .toggle::after{
  left: .2em;
}
.toggle::before{
  content: "OFF";
  display: block;
  color: var(--bg1);
  border-radius:.2em;
  position: absolute;
  transition: all .2s var(--curve);
  border-radius: .1em;
  transition: all .2s var(--curve);
  z-index: 2;
  font-size: .6em;
  top: .7em;
  left: .66em;
  font-weight: 700;
}
.on .toggle::before{
  content: "ON";
  left: 2.75em;
}

.modal{
  position: fixed;
  background: rgba(0, 0, 0, .8);
  left: 25vw; top: 15vh;
  width: 50vw; height: 70vh;
  /* background: #19222B; */
  pointer-events: none;
  border: .2rem solid var(--bg1);
  border-radius: 1em;
  opacity: 0;
  transition: var(--transition-out);
  transform: translateY(3vh) scale(.95);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, .45);
  color: #ddd;
  backdrop-filter: blur(15px);
}
.dark .modal{
  border-color: var(--text2);
}
.modal.show{
  transform: none;
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);  
}
.modal > .inner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}
.modal-content{
  flex: 1 0 auto;
  width: 100%;
  padding: 4vw;
}
.modal-close{
  position: absolute;
  right: -1rem; top: -1rem;
	width: 3rem; height: 3rem;
	transition: var(--transition);
  cursor: pointer;
  background:rgba(0, 0, 0, 1);
  border-radius: 50%;
}
.modal-close svg{
	width: 100%; height: 100%;
	fill: none;
	transform: scale(1.01);
	transform-origin: center center;
}
.modal-close svg *{
  fill: none;
  stroke-width: 2px;
  stroke: #fff;
}

@font-face{
  font-family: meta;
  src:url(https://s.anyway.red/iconmoon/meta/meta-normal.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face{
  font-family: meta;
  src:url(https://s.anyway.red/iconmoon/meta/meta-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face{
  font-family: sm;
  src:url(sm.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.vertical{
  
  #app{
    grid-template-areas: "map" "desc";
    --angle: 0deg;
    grid-template-rows: 1fr 50vh;
    grid-template-columns: 1fr;
    --margin: 1.5rem;
  }
  .track-map{
    grid-area: map;
    --full: 1905.97px;
    display: flex;
    justify-content: center; align-items: center;
    translate: none;
    scale: .9;
    transition: var(--transition-out);
  }
  .mid{
    translate: -50% calc(-50% + 40vh);
  }
  &.scrolled .mid{
    translate: -50% -50%;
  }
  .desc{
    border-top: 1px solid var(--bg2);
  }
  .miles{
    font-size: 1.5rem;
  }
  .desc .primary{
    font-size: 1.5rem;
  }
  .desc .secondary{
    font-size: 1rem;
  }
  .desc .more{
    font-size: .75rem;
    margin-top: 1em;
  }
  .thumbs{
    flex: 0 1 3vh;
    height: 5vh;
  }

  .controls{
    font-size: .75rem;
  }

  .modal{
    position: fixed;
    background: rgba(0, 0, 0, .8);
    left: 10vw; top: 20vh;
    width: 80vw; height: 60vh;
  }
}